p {
   color: aliceblue;
   font-size: 15pt;
   font-family: 'Courier New', Courier, monospace;
<<<<<<< HEAD
=======
   color: black;
}
button {
   color: rebeccapurple;
   white-space: normal;
>>>>>>> creando-button
}