p {
   font-size: 15pt;
   font-family: 'Courier New', Courier, monospace;
   color: black;
}
button {
   color: rebeccapurple;
   white-space: normal;
   text-align: center;
   font: 1em sans-serif;
}